<div class="container">
    <div class="container" *ngIf="errorMesgs">
        <p *ngFor="let m of errorMesgs">Error: {{m}}</p>
      </div>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Restaurant Name: </label>
      <input type="text" [(ngModel)]="newRest.name" class="form-control" name="rname" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cuisine: </label>
      <input type="text" [(ngModel)]="newRest.cuisine" class="form-control" name="cname" id="exampleInputPassword1" placeholder="Enter Cuisine">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" [routerLink]="['/restaraunts']">Cancel</button>


  </form>
</div>